.row-wrapper{
    display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 1%;
  padding-left: 10%;
  gap: 1rem;
  }

.logo-image{
    // width:8%;
    width: max(8%, 60px);
}
.logo-text{
    // width: 35%;
    padding-top: 2%;
    width: max(35%, 200px);
}

@media screen and (max-width:700px){
    .logo-text{
        display: none;
    }
}