$primary-light: #BAA98B;
$primary-lighter: lighten($primary-light, 15%);
$primary-lightest: lighten($primary-light, 20%);

$text-color-dark: rgba(0, 0, 0);
$text-color-light: $primary-light;
// $border-dark: rgba($base-color, 0.88);

//------------------dark mode--------------------

//$color-light: white;
//$color-dark: #000000;
//
//$color1: #8d57af;//#9D76EE;
//$color2: #26272e;
//$color3: #F3F3F5;
//$color4: #51525B;
//$color5: darken(#EAEAEA,10);
//
//$color6: lighten($color1, 15);
//$color7: lighten($color1, 30);
//$color8: darken($color1, 15); //
//$color9: darken($color1, 30); //#ba9ff3;
//
////general
//$primary-color: $color2;
//$secoundary-color: $color3;
//
////background
//$background-dark: $color2;
//$background-light: $color3;
//
////contrast color
//$action-color: $color1;
//$action-color-lighter: lighten($color1, 30);
//$action-color-lightest: lighten($color1, 50);
//$action-color-darker: darken($color1, 30);
//$action-color-darkest: darken($color1, 50);
//
////text
//$text-color-light: $color-light;
//$text-color-dark: $color-dark;
//
////buttons
//$primary-button-color: $color1;
//$secoundary-button-color: $color4;
//$button-text-color: $color-light;


//------------------light mode--------------------
//$color-light: white;
//$color-dark: #000000;
//
//$color1: #EF418E;
//$color2: #19588D;
//$color3: #50A6DE;
//$color4: #9ECEFE;
//$color5: #EAEAEA;
//
//$color6: lighten($color1, 15);
//$color7: lighten($color1, 30);
//$color8: darken($color1, 15); //
//$color9: darken($color1, 30); //#ba9ff3;
//
////background
//$primary-color: $color2;
//$secoundary-color: $color3;
//
////contrast color
//$action-color: $color1;
//$action-color-lighter: lighten($color1, 30);
//$action-color-lightest: lighten($color1, 50);
//$action-color-darker: darken($color1, 30);
//$action-color-darkest: darken($color1, 50);
//
//
////text
//$text-color-light: $color-light;
//$text-color-dark: $color-light;
//
////buttons
//$primary-button-color: $action-color;
//$secoundary-button-color: $color-light;
//$button-text-color: $color-light;
//

