@import '/src/sass/variables';

.footer-wrapper{
    margin-top: 2%; 
    height: 50vh;
    background-color: $primary-lightest;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-contact{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

app-contact-form{
    flex: 2;
}

@media screen and (max-width:700px){
    .footer-wrapper{
        padding-top: 10%;
        flex-direction: column;
        height: 60vh;
    }

    
}

// app-social-media-bar{
//     flex: 2;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     justify-content: center;
//     gap: 1rem;

//     button{
//         color: black !important;
//     }
// }