<div class="contact-form-wrapper">
  <div class="mail-form">
    <mat-form-field class="subject-form-field" appearance="standard">
      <mat-label>Subject</mat-label>
      <input matInput [(ngModel)]="subject">
    </mat-form-field>
    <mat-form-field class="text-area-form-field" appearance="standard">
      <mat-label>Message</mat-label>
      <textarea matInput [(ngModel)]="body"></textarea>
    </mat-form-field>
    <a href="mailto:rozellaling@gmail.com?Subject={{subject}}&body={{body}}">
      <button mat-stroked-button value=" Create Email">Draft Email</button>
    </a>
  </div>
</div>