<div class="contact-form-wrapper">
  <!-- TODO: research unsafe action (on live version) -->
  <!-- TODO: not working on mobile -->
  <form action="mailto:rozellaling@gmail.com" method="GET" target="_blank">
    <mat-form-field class="subject-form-field" appearance="standard">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Subject" name="subject" id="subject" type="text" class="input" value="">
    </mat-form-field>
    <mat-form-field class="text-area-form-field" appearance="standard">
      <mat-label>Message</mat-label>
      <textarea matInput class="textarea" name="body" id="body"></textarea>
    </mat-form-field>
    <button mat-stroked-button type="submit" value="Create Email">Draft Email</button>
  </form>
</div>