.gallery-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-grid{
    width: 80%;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    grid-auto-rows: 240px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
// .card:hover {
//old hover effect
//     // box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
//     // transform: translateY(-3px) scale(1.1);
//  }
.card:hover{
    opacity: 0.3;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  


 @media screen and (max-width:700px){
    .gallery-grid{
        // grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
        grid-auto-rows: 20vh;
        
    }

    .card{
        background-position: center !important;
    }
}