.row-wrapper{
    text-transform: capitalize;
    padding-top: 7%;
    justify-content: space-evenly;
    align-items: flex-end;

    a{
        font-family: 'Luxurious Roman';
        // font-weight: bold;
    }
}