@import '/src/sass/variables';

.content-wrapper{
    height:300vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2.5rem;
}

.content-wrapper > *{
    width: 100%;
}
app-slider{
    flex: 2;
    // height: 90vh;
}
app-gallery{
    flex: 2;
    // height: 40vh;
}
app-quote{
    flex: 2;
    // background-color: $primary-lighter;
    // height: 40vh;
}