.content-wrapper{
    height:300vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
}

.content-wrapper > *{
    width: 100%;
}
app-slider{
    flex: 2;
    // height: 90vh;
}
app-gallery{
    flex: 2;
    // height: 40vh;
}
app-quote{
    flex: 2;
    // height: 40vh;
}