.content-wrapper{
    height:200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-wrapper > *{
    width: 100%;
}
app-slider{
    flex: 4;
}
app-gallery{
    flex: 2;
}
app-quote{
    flex: 2;
}