<a href="https://www.instagram.com/rozella.design/" target="self">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <fa-icon [icon]="faInstagram"></fa-icon>
  </button>
</a>
<a href="https://www.facebook.com/Rozellas-design-101363249121085" target="self">
  <button mat-fab color="primary" aria-label="Example icon button with a home icon">
    <fa-icon [icon]="faFacebook"></fa-icon>
  </button>
</a>
<a href="mailto:rozellaling@gmail.com">
  <button mat-fab color="primary" type="submit" aria-label="Example icon button with a bookmark icon">
    <fa-icon class="envelope-icon" [icon]="faEnvelope"></fa-icon>
  </button>
</a>