<div class="quote">

  <!-- <div class="parallax">

  </div> -->
  <div class="introduction">
    <!-- TODO: mobile a little much space -->
    <img class="ornament" src="assets/images/ornament.png" alt="logo">
    <div class="introduction-text">
      <h2>Rozella Ling ...</h2>
      <q>
        ... is a designer from Hong Kong who completed her undergraduate study at Hongik University in South
        Korea, Seoul. Over the past five years, she majored in Metal Art and Design and has acquired extensive knowledge
        of jewellery, furniture and products design, etc. She is proficient in Adobe software suite and Rhino 3D
        software which she used to make various artworks in 3D, product and jewellery design throughout her studies.
      </q>
    </div>
    <img class="ornament" src="assets/images/ornament.png" alt="logo">

  </div>

  <div class="introduction-picture">

  </div>

  <!-- <div appParallax [ratio]="-0.2" id="square">test</div>
  <div appParallax [ratio]="0.5" id="circle">test2</div>
  <div appParallax [ratio]="0.9" id="rectangle">test3</div> -->

</div>