<div class="work-wrapper col-wrapper">
  <div class="accessories-gallery">
    <h1>Videos</h1>
    <video width="80%" autoplay muted loop poster="assets/images/new/earring.jpg">
      <source src="assets/images/new/newearring.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="accessories-gallery">
    <h1>Accessories</h1>
    <app-gallery [galleryImages]="accessoriesGalleryImages"></app-gallery>
  </div>
  <div class="3D-gallery">
    <h1>3D Designs</h1>
    <app-gallery [galleryImages]="threeDGalleryImages"></app-gallery>
  </div>
  <div class="metal-gallery">
    <h1>Metal Art</h1>
    <app-gallery [galleryImages]="metalArtGalleryImages"></app-gallery>
  </div>
</div>