@import '/src/sass/variables';

.work-wrapper{
  text-align: center;
  gap: 3rem;
  flex-direction: column;

  div{
      width: 100%;
  }
}

h1{
  width: 80%;
  font-weight: bold;
  padding: 5% 0;
  margin: 5% 0 2% 10%;
    color: white;
  background: $primary-light;
  font-size: 2rem;
  // background-color: ;
  // font-size: clamp(16px, (1.5rem + 5vw), 50px);

  @media screen and (max-width:700px){
    background: $primary-lighter;
      font-size: 1rem;
      // width: 100%;
      margin: 5% 0 5% 10%;
}
}