.about-wrapper{
    margin-top: 2%;
    height: 180vh;
    width: 80%;
    padding: 0 10%;
    background-image: url('/assets/images/cv.png');
    // background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}