.dialog-image{
    // height: 100%;
    // width: 100%;
}

.image-dialog-content{
        // aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}