
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myApp-primary: mat.define-palette(mat.$indigo-palette);
$myApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myApp-theme: mat.define-light-theme((
  color: (
    primary: $myApp-primary,
    accent: $myApp-accent,
    warn: $myApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myApp-theme);

/* You can add global styles to this file, and also import other style files */

// custom stuff
@import './sass/variables';
@import './sass/mixins';
@import './sass/responsive';

// // swiper
@import '../node_modules/swiper/swiper-bundle.css';
// @import '../node_modules/swiper/swiper.scss';
// @import '../node_modules/swiper/scss';


:root {
  --swiper-theme-color: white;
  --swiper-navigation-size: 7vh;
}

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: 'Times New Roman', Times, serif;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color;
  z-index: 9998;
}

.row-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  /* right: 10px; */
  right: 9%;
}

.swiper-button-prev{
    left: 9%;
}

a{
  font-size: 18px;
  text-decoration: none;
  color: $text-color-dark;
}

h1{
  font-size: clamp(16px, (1rem + 5vw), 50px);
}



